div{
  box-sizing: border-box;
}
.blockTitle{
  font-size: .9rem;
  font-weight: bold;
  color: rgb(48, 48, 48);
  margin-bottom: .4rem;
}
.radius20{
  border-radius: 10px;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}